* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
    width: 50px;
}

header > h1 {
    font-weight: 400;
}

main {
    padding: 30px 30px 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.chef-claude-prompt {
    font-size: 1.3rem;
    font-weight: 250;
    margin-bottom: 15px;
    color: #475467;
    text-align: center;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 45px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 19px 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    font-size: 18px;
    min-width: 150px;
    max-width: 600px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 180px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}

ul.ingredients-list {
    margin-bottom: 48px;
}

.ingredients-list-title {
    font-size: 2.05rem;
    font-weight: 600;
    margin-bottom: 20px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 35px;
    font-size: 20px;
}

.remove-button {
    margin-left: 0%;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 59%);
    font-weight: bold;
    cursor: pointer;
}

.loader {
    font-size: 1.8rem;
    font-weight: 600;
    color: #475467;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}